@import "../styles/mixins";

.navbar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-weight: 600;
  font-family: "Roboto";
  letter-spacing: 0.75px;
  padding: 40px;
  position: relative;
  z-index: 1000;

  &__other-links {
    a {
      &:first-child {
        margin-right: 20px;
      }
    }
  }

  a {
    text-decoration: none;
    &:link,
    &:visited {
      color: #ff813f;
    }

    &:active {
      color: #ffeb1e !important;
    }
  }

  @include mobile {
    display: none;
  }

  &__mobile {
    display: none;

    &--show {
      @include mobile {
        display: flex;
        font-weight: 600;
        letter-spacing: 0.75px;
        position: fixed;
        padding: 10px;
        z-index: 1000;
        height: 100vh;
        width: 100vw;
        background: #fed330;
        top: 0;
        left: 0;
        justify-content: center;
      }
    }

    &-links {
      @include mobile {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
      }
    }

    @include mobile {
      a {
        text-decoration: none;
        font-family: 'Heebo', sans-serif !important;
        margin: 25px 0;

        &:link,
        &:visited {
          color: #ff813f;
        }

        &:active {
          color: #ffeb1e !important;
        }
      }
    }
  }

  &__hamburger {
    display: none;

    @include mobile {
      display: block;
      width: 100%;
      text-align: right;
      padding: 10px;
      position: relative;
      z-index: 9999;
    }
  }

  &__menu-icon {
    &--hide {
      display: none;
    }
  }

  &__close-icon {
    display: none;

    &--show {
      display: initial;
    }
  }
}
