.rubber-duckie {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;

    &__container {
        font-size: 2rem;
        font-family: 'Open Sans';
        font-weight: 600;
        margin-bottom: 20px;

        &--text {
            text-align: center;
        }
    }
}